<div class="container mt-4">
    <h2 class="text-center">Login</h2>
    <form [formGroup]="loginform" (ngSubmit)="submit()">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 mb-3">
                <mat-form-field class="w-100">
                    <input matInput type="email" formControlName="email" placeholder="Enter Email">
                    <mat-error *ngIf="loginform.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="loginform.get('email')?.hasError('email')">Enter Valid Email Address</mat-error>
                </mat-form-field>
            </div>
        </div>    
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 mb-3">
                <mat-form-field class="w-100">
                    <input matInput type="password" formControlName="password" placeholder="Enter Password">
                    <mat-error *ngIf="loginform.get('password')?.hasError('required')">Password is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 text-center">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </div>

    </form>
</div>